	/* Starting of index page css*/
			body{
				position: absolute;
				padding: 0;
				margin: 0;
				width: 100%;
				height: 100%;
			}
			.boxx{
				position: relative;
				margin: 5% 10% 10% 10%;
				background-color: white;
				width: 35%;
				height: 100%;
				z-index: 10;
				border-radius: 2px;
             	box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.5);
				padding: 5%;
				text-align: center;
				border-bottom: 10px solid black;
             	
			}
			.outer
			{
				position: absolute;
				width: 100%;
			}
			.header {
				height: 8%;
				width: 100%;
				background: #063671 ;
				box-shadow: 10px 8px 16px 0px ;
				/*position: fixed;*/
				/*top: 0;*/
				}

			.footer {
				height: 8%;
				width: 100%;
				background: white ;
				box-shadow: 10px 8px 16px 0px ;
				position: fixed;
				left: 0;
				bottom: 0;
				}

			.flogo{
					padding-top: 15px;
					font-family: cambria;
				}

			.brand{
				color: white;
				width: 8%;
				text-decoration: none;
				box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
				padding: 5px;
				float: left;
			}
			.brandf{
				color: white;
				width: 8%;
				text-decoration: none;
				padding-bottom: 15px;
				float: left;
			}
			.left{
				float: left;
				margin: 0;
				width: 2%;
				height: 60%;
				padding-right: 4%;
			}
			.right{
				float: right;
				margin: 0;
				width: 2%;
				height: 60%;
				padding-right: 4%;
				padding-top: 10px;
				font-size: 20px;
			}
			.indent{
				float: left;
			}
			.box{
				width:200px; 
				height:30px; 
				border-radius:5%;
				box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
				
			}
			.button
			{
				font-size: 15px;
				width: 120px;	
				height: 30px;
				border-radius: 2px;
             	box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.5);
				margin: 20px;
			}
			.btn {
				border: none;
				background-color: black;
				font-size: 30px;
				color: white;
			}
/* Ending of index page css*/